


.glow:after  {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    pointer-events: none;
}

#glow-card:after {
    transform: scale(var(--glow-card-scale));
    -webkit-filter: blur(var(--glow-card-blur));
    -moz-filter: blur(var(--glow-card-blur));
    -ms-filter: blur(var(--glow-card-blur));
    filter: blur(var(--glow-card-blur));
    background: linear-gradient(var(--glow-card-degree), var(--glow-card-1-col), var(--glow-card-2-col));
    background-size: 200% 200%;
    -webkit-animation: animateGlow var(--glow-card-time) linear infinite;
    -moz-animation: animateGlow var(--glow-card-time) linear infinite;
    animation: animateGlow var(--glow-card-time) linear infinite; 
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-webkit-keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }


 